@import "./../../styles.scss";
#calculator {
    padding: 10% 5%;
    .error {
        color: rgb(185, 0, 0);
        padding: 1rem;
    }
}

@include mq-tablet {
    #calculator {
        padding: 10% 15%;
    }
}

@include mq-desktop {
    #calculator {
        padding: 10% 30%;
    }
}