#result-viewer {
    padding: 1rem;
    height: 5rem;
    background-color: azure;
    h2,
    h4 {
        line-height: 50%;
        text-align: center;
        height: 50%;
        margin: 0rem;
    }
}